---
layout: base.njk
title: "Blog"
---

<h1>Our Blog</h1>

<ul class="blog-list">
  {% for post in collections.blog | reverse %}
    <li class="blog-preview">
      <a href="{{ post.url }}">
        {% if post.data.image %}
          <img src="{{ post.data.image }}" alt="{{ post.data.title }}" class="preview-image">
        {% endif %}
        <h2>{{ post.data.title }}</h2>
      </a>
      <p><small>Published {{ post.date | readableDate }}</small></p>
      <p>{{ post.templateContent | striptags | truncate(150, true, "…") }}</p>
    </li>
  {% endfor %}
</ul>
