{% extends "base.njk" %}

{% block content %}
  <article>
    <h1>{{ title }}</h1>
    <p><small>Published {{ date | readableDate }}</small></p>

    {% if image %}
      <div class="featured-image">
        <img src="{{ image }}" alt="{{ title }}">
      </div>
    {% endif %}

    <div class="post-body">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
